#wrap {
    width: 550px;
    margin: 0 auto;
}

#back {
    display: block;
    margin-bottom: 20px;
}

fieldset {
    width: 460px;
    padding: 18px;
}

.valid {
    color: #6bff6b;
}

.invalid {
    color: #ee4466;
}

#member-table {
    width: 500px;
}
#member-table td, #member-table th {
    border: 1px solid #333;
    text-align: center;
}
#member-table tr.selected {
    background-color: #6bff6b;
}